/* although various guides recommend using :root, this causes problems with
   frameworks so it is often better to use :host.
   See:
   https://stackoverflow.com/questions/48380267/css-variables-root-vs-host
*/
:host {
    --main-color: #369;
}

h1 {
    color: var(--main-color);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 250%;
}